@model SceneView.Controllers.ProfileController.ProfileData

@{
    Layout = "~/Views/Profile/_ProfileLayout.cshtml";
    if (ViewBag.pwd == -1)
    {
        HttpContext.Current.Response.Write("<script>alert(\"原密码错误！\");</script>");
    }else if(ViewBag.pwd == 1)
    {
        HttpContext.Current.Response.Write("<script>alert(\"修改成功！\");</script>");
    }
}

<!--  PAPER WRAP -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">

        <div class="row">
            <div id="paper-top">
                <div class="col-sm-3">
                    <h2 class="tittle-content-header"> <em class="icon-camera"></em> <span>修改密码 </span> </h2>
                </div>

                <div class="col-sm-7">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">

                        <div class="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <span class="tittle-alert entypo-info-circled"></span>
                            欢迎回来 &nbsp;
                            <strong>@Model.userData.userInfo.nickname</strong>&nbsp;&nbsp; 我等你很久了！
                        </div>


                    </div>

                </div>

            </div>
        </div>
        <!--/ TITLE -->
        <!-- BREADCRUMB -->
        <ul id="breadcrumb">
            <li>
                <a href="/profile"><span class="entypo-home"></span></a>
            </li>
            <li>
                <i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li>
                <a href="/profile/EditPassword">修改密码</a>
            </li>
        </ul>
        <!-- END OF BREADCRUMB -->



        <div class="content-wrap">
            <div class="row">
                <div class="col-sm-12">
                    <div class="nest" id="validationClose">
                        <div class="title-alt">
                            <h6> 修改密码</h6>
                            <div class="titleClose">
                                <a class="gone" href="#validationClose">
                                    <span class="entypo-cancel"></span>
                                </a>
                            </div>
                            <div class="titleToggle">
                                <a class="nav-toggle-alt" href="#validation">
                                    <span class="entypo-up-open"></span>
                                </a>
                            </div>
                        </div>

                        <div class="body-nest" id="validation">

                            <div class="form_center">
                                @using (Html.BeginForm("EditPassword", "Profile", FormMethod.Post, new { @id = "edit-form", @class = "form-horizontal", @name = "editForm", @onsubmit = "return checkValid()" }))
                                {
                                    <fieldset>

                                        <div class="control-group">
                                            <label class="control-label" for="name">原密码</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(p => p.userData.userID, new { @type = "password", @class = "form-control", @id = "prePWD", Value="" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="subject">新密码</label>
                                            <div class="controls">
                                                @Html.TextBoxFor(p => p.userData.password, new { @type = "password", @class = "form-control", @id = "newPWD", Value = "" })
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="subject">请再输入一次新密码</label>
                                            <div class="controls">
                                                <input type="password" class="form-control" id="rePWD">
                                            </div>
                                        </div>

                                        <div class="form-actions" style="margin:20px 0 0 0;">
                                            <button type="submit" class="btn btn-primary">提交</button>
                                            <button type="reset" class="btn">取消</button>
                                        </div>
                                    </fieldset>
                                }


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <script>
            function checkValid() {
                var prePWD = document.forms["editForm"]["prePWD"].value;
                var patrn = /^(\w){6,20}$/;
                if (!patrn.exec(prePWD)) {
                    alert("密码非法");
                    return false;
                }
                var pwd = document.forms["editForm"]["newPWD"].value;
                if (!patrn.exec(pwd)) {
                    alert("密码非法");
                    return false;
                }
                var rePwd = document.form["editForm"]["rePWD"].value;
                if (rePwd != pwd) {
                    alert("两次密码不一致");
                    return false;
                }
                return true;
            }
        </script>

        <!-- FOOTER -->
        <div class="footer-space"></div>
        <div id="footer">
            <div class="devider-footer-left"></div>
            <div class="time">
                <p id="spanDate">
                <p id="clock">
            </div>
            <div class="copyright">
                用空多回回家
                <span class="entypo-heart"></span><a href="/profile">@Model.userData.userInfo.nickname</a> 这世界有很多人爱着你
            </div>
            <div class="devider-footer"></div>

        </div>
        <!-- / END OF FOOTER -->
    </div>
</div>
<!--  END OF PAPER WRAP -->