
@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Profile/_Layout.cshtml";
}


    <ol class="breadcrumb hidden-xs">
        <li><a href="/profile">Home</a></li>
        <li><a href="/profile/note">Note</a></li>
        <li><a href="/profile/detail?ni=@ViewBag.note.noteID">@ViewBag.note.title</a></li>
    </ol>

    <h4 class="page-title b-0">我的游记</h4>

    <article id="paragraph" class="block-area">
        <h2>@ViewBag.note.title</h2>
        <form role="form" class="p-15">
            <div class="form-group m-b-15">
                <label>游记主题</label>
                <input type="text" class="form-control input-sm" value="@ViewBag.note.title">
            </div>
            <div class="form-group m-b-15">
                <label></label>
                <div class="wysiwye-editor"></div>
            </div>

            <button type="submit" class="btn btn-sm">提交修改</button>

        </form>
    </article>
