
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Apricot 1.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <script type="text/javascript" src="~/Content/profile/js/jquery.js"></script>

    <link rel="stylesheet" href="~/Content/profile/css/style.css">
    <link rel="stylesheet" href="~/Content/profile/css/loader-style.css">
    <link rel="stylesheet" href="~/Content/profile/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/profile/css/media.css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="~/Content/profile/ico/minus.png">
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- TOP NAVBAR -->
    <nav role="navigation" class="navbar navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="entypo-menu"></span>
                </button>
                <button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
                    <span class="entypo-list-add"></span>
                </button>




                <div id="logo-mobile" class="visible-xs">
                    <h1>Apricot<span>v1.3</span></h1>
                </div>

            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i style="font-size:20px;" class="icon-conversation"></i><div class="noft-red">23</div></a>


                        <ul style="margin: 11px 0 0 9px;" role="menu" class="dropdown-menu dropdown-wrap">
                            <li>
                                <a href="#">
                                    <img alt="" class="img-msg img-circle" src="http://api.randomuser.me/portraits/thumb/men/1.jpg">Jhon Doe <b>Just Now</b>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <img alt="" class="img-msg img-circle" src="http://api.randomuser.me/portraits/thumb/women/1.jpg">Jeniffer <b>3 Min Ago</b>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <img alt="" class="img-msg img-circle" src="http://api.randomuser.me/portraits/thumb/men/2.jpg">Dave <b>2 Hours Ago</b>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <img alt="" class="img-msg img-circle" src="http://api.randomuser.me/portraits/thumb/men/3.jpg"><i>Keanu</i>  <b>1 Day Ago</b>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <img alt="" class="img-msg img-circle" src="http://api.randomuser.me/portraits/thumb/men/4.jpg"><i>Masashi</i>  <b>2 Mounth Ago</b>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div>查看全部</div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div id="nt-title-container" class="navbar-left running-text visible-lg">
                    <ul class="date-top">
                        <li class="entypo-calendar" style="margin-right:5px"></li>
                        <li id="Date"></li>


                    </ul>

                    <ul id="digital-clock" class="digital">
                        <li class="entypo-clock" style="margin-right:5px"></li>
                        <li class="hour"></li>
                        <li>:</li>
                        <li class="min"></li>
                        <li>:</li>
                        <li class="sec"></li>
                        <li class="meridiem"></li>
                    </ul>
                    <ul id="nt-title">
                        <li>
                            <i class="wi-day-lightning"></i>&#160;&#160;Berlin&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>
                        <li>
                            <i class="wi-day-lightning"></i>&#160;&#160;Yogyakarta&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; Tonight- 72 °F (22.2 °C)
                        </li>

                        <li>
                            <i class="wi-day-lightning"></i>&#160;&#160;Sttugart&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>

                        <li>
                            <i class="wi-day-lightning"></i>&#160;&#160;Muchen&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>

                        <li>
                            <i class="wi-day-lightning"></i>&#160;&#160;Frankurt&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>

                    </ul>
                </div>

                <ul style="margin-right:0;" class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" class="admin-pic img-circle" src="http://api.randomuser.me/portraits/thumb/men/10.jpg">Hi, Dave Mattew
                        </a>
                    </li>
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="icon-gear"></span>&#160;&#160;Setting
                        </a>
                        <ul role="menu" class="dropdown-setting dropdown-menu">

                            <li class="theme-bg">
                                <div id="button-bg"></div>
                                <div id="button-bg2"></div>
                                <div id="button-bg3"></div>
                                <div id="button-bg5"></div>
                                <div id="button-bg6"></div>
                                <div id="button-bg7"></div>
                                <div id="button-bg8"></div>
                                <div id="button-bg9"></div>
                                <div id="button-bg10"></div>
                                <div id="button-bg11"></div>
                                <div id="button-bg12"></div>
                                <div id="button-bg13"></div>
                            </li>
                        </ul>
                    </li>
                    <!--
                                        <li class="hidden-xs">
                                            <a class="toggle-left" href="#">
                                                <span style="font-size:20px;" class="entypo-list-add"></span>
                                            </a>
                                        </li>
                    -->
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- /END OF TOP NAVBAR -->
    <!-- SIDE MENU -->
    <div id="skin-select">
        <div id="logo">
            <h1>Apricot<span>v1.3</span></h1>
        </div>

        <a id="toggle">
            <span class="entypo-menu"></span>
        </a>

        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a class="tooltip-tip ajax-load" href="media.html" title="我的故事">
                                <i class="icon-heart"></i>
                                <span>我的故事</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="mail.html" title="我的消息">
                                <i class="icon-conversation"></i>
                                <span>我的消息</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="time-line.html" title="我的足迹">
                                <i class="icon-location"></i>
                                <span>我的足迹</span>

                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="andvance-form.html" title="个人资料">
                                <i class="icon-document-edit"></i>
                                <span>个人资料</span>

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF SIDE MENU -->
    <!--  PAPER WRAP -->
    <div class="wrap-fluid">
        <div class="container-fluid paper-wrap bevel tlbr">

            <div class="row">
                <div id="paper-top">
                    <div class="col-sm-3">
                        <h2 class="tittle-content-header"> <em class="icon-camera"></em> <span>我的故事 </span> </h2>
                    </div>

                    <div class="col-sm-7">
                        <div class="devider-vertical visible-lg"></div>
                        <div class="tittle-middle-header">

                            <div class="alert">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <span class="tittle-alert entypo-info-circled"></span>
                                Welcome back,&nbsp;
                                <strong>Dave mattew!</strong>&nbsp;&nbsp;Your last sig in at Yesterday, 16:54 PM
                            </div>


                        </div>

                    </div>
                    <div class="col-sm-2">
                        <div class="devider-vertical visible-lg"></div>
                        <div class="btn-group btn-wigdet pull-right visible-lg">
                            <div class="btn">
                                Widget
                            </div>
                            <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <span class="entypo-plus-circled margin-iconic"></span>Add New
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-heart margin-iconic"></span>Favorite
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-cog margin-iconic"></span>Setting
                                    </a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!--/ TITLE -->
            <!-- BREADCRUMB -->
            <ul id="breadcrumb">
                <li>
                    <a href="media.html"><span class="entypo-home"></span></a>
                </li>
                <li>
                    <i class="fa fa-lg fa-angle-right"></i>
                </li>
                <li>
                    <a href="#" title="Sample page 1">我的故事</a>
                </li>
                <li class="pull-right">
                    <div class="input-group input-widget">

                        <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
                    </div>
                </li>
            </ul>

            <!-- END OF BREADCRUMB -->
            <!-- MASONRY MEDIA-->
            <div class="container-fluid" style="padding:0 30px!important;margin-top:30px;">

                <div class="row-mansory">
                    <!-- VIDEO -->
                    <div class="col-md-4">
                        <div class="well-media">

                            <div class="vendor">

                                <a class="fancybox" rel="group" href="#">
                                    <img class="img-responsive-media" src="http://lorempixel.com/output/city-h-c-350-450-6.jpg" alt="">
                                </a>
                            </div>
                            <div class="video-text">
                                <h2>Black Angel</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <div class="photo-category-bg">
                                <h3>游记</h3>
                                <a class="link-media pull-right" href="#">
                                    <span class="fontawesome-edit"></span>
                                </a>
                                <div class="triangle-white"></div>
                                <div class="triangle-photo-right"></div>
                            </div>

                        </div>
                    </div>

                    <!-- END OF VIDEO -->
                    <!-- PHOTO -->
                    <div class="col-md-4">
                        <div class="well-media">

                            <div class="vendor">

                                <a class="fancybox" rel="group" href="#">
                                    <img class="img-responsive-media" src="http://lorempixel.com/output/city-h-c-350-450-6.jpg" alt="">
                                </a>
                            </div>
                            <div class="video-text">
                                <h2>Black Angel</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>

                            <div class="photo-category-bg">
                                <h3>游记</h3>
                                <a class="link-media pull-right" href="#">
                                    <span class="fontawesome-edit"></span>
                                </a>
                                <div class="triangle-white"></div>
                                <div class="triangle-photo-right"></div>
                            </div>

                        </div>
                    </div>

                    <!-- END OF PHOTO -->
                    <!-- AUDIO -->
                    <div class="col-md-4">
                        <div class="well-media">

                            <div class="vendor">

                                <a class="fancybox" rel="group" href="#">
                                    <img class="img-responsive-media" src="http://lorempixel.com/output/city-h-c-350-450-6.jpg" alt="">
                                </a>
                            </div>
                            <div class="video-text">
                                <h2>Black Angel</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>

                            <div class="photo-category-bg">
                                <h3>游记</h3>
                                <a class="link-media pull-right" href="#">
                                    <span class="fontawesome-edit"></span>
                                </a>
                                <div class="triangle-white"></div>
                                <div class="triangle-photo-right"></div>
                            </div>

                        </div>
                    </div>
                    <!-- END OF AUDIO -->
                    <!-- PHOTO SET -->
                    <div class="col-md-4">
                        <div class="well-media">


                            <div class="vendor">
                                <div data-ride="carousel" class="carousel slide" id="carousel-example-generic">
                                    <ol class="carousel-indicators">
                                        <li class="" data-slide-to="0" data-target="#carousel-example-generic"></li>
                                        <li data-slide-to="1" data-target="#carousel-example-generic" class="active"></li>
                                        <li data-slide-to="2" data-target="#carousel-example-generic" class=""></li>
                                    </ol>
                                    <div class="carousel-inner">

                                        <div class="item">
                                            <a href="#">
                                                <img class="img-responsive-media" alt="First slide" src="~/Content/profile/img/people-q-c-350-250-5.jpg">
                                            </a>
                                        </div>
                                        <div class="item active">
                                            <a href="#">
                                                <img class="img-responsive-media" alt="Second slide" src="~/Content/profile/img/people-q-c-350-250-7.jpg">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img class="img-responsive-media" alt="Third slide" src="~/Content/profile/img/people-q-c-350-250-8.jpg">
                                            </a>
                                        </div>

                                    </div>
                                    <a data-slide="prev" href="#carousel-example-generic" class="left carousel-control">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a data-slide="next" href="#carousel-example-generic" class="right carousel-control">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>

                            </div>


                            <div class="video-text">
                                <h2>Holyday</h2>
                                <p>It ws may last summer holyday</p>
                            </div>
                            <div class="album-category-bg">
                                <h3>游记</h3>
                                <a class="link-media pull-right" href="#">
                                    <span class="fontawesome-edit"></span>
                                </a>
                                <div class="triangle-white"></div>
                                <div class="triangle-album-right"></div>
                            </div>

                        </div>
                    </div>
                    <!--     END OF PHOTO SET -->
                    <!-- VIDEO -->
                    <div class="col-md-4">
                        <div class="well-media">

                            <div class="vendor">

                                <a class="fancybox" rel="group" href="#">
                                    <img class="img-responsive-media" src="http://lorempixel.com/output/city-h-c-350-450-6.jpg" alt="">
                                </a>
                            </div>
                            <div class="video-text">
                                <h2>Black Angel</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <!--
                                                        <div class="tag-nest">
                                                            <i>angel</i><i>dark</i><i>mistic</i>
                                                        </div>
                            -->
                            <div class="photo-category-bg">
                                <h3>游记</h3>
                                <a class="link-media pull-right" href="#">
                                    <span class="fontawesome-edit"></span>
                                </a>
                                <div class="triangle-white"></div>
                                <div class="triangle-photo-right"></div>
                            </div>

                        </div>
                    </div>

                    <!-- END OF VIDEO -->
                    <!-- PHOTO -->
                    <div class="col-md-4">
                        <div class="well-media">

                            <div class="vendor">

                                <a rel="group" href="#">
                                    <img class="img-responsive-media" src="http://lorempixel.com/output/food-h-c-350-450-8.jpg" alt="">
                                </a>
                            </div>
                            <div class="video-text">
                                <h2>Black Angel</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <!--
                                                        <div class="tag-nest">
                                                            <i>angel</i><i>dark</i><i>mistic</i>
                                                        </div>
                            -->
                            <div class="photo-category-bg">
                                <h3>游记</h3>
                                <a class="link-media pull-right" href="#">
                                    <span class="fontawesome-edit"></span>
                                </a>
                                <div class="triangle-white"></div>
                                <div class="triangle-photo-right"></div>
                            </div>

                        </div>
                    </div>

                    <!-- END OF PHOTO -->
                    <!-- AUDIO -->
                    <div class="col-md-4">
                        <div class="well-media">

                            <div class="vendor">

                                <a class="fancybox" rel="group" href="#">
                                    <img class="img-responsive-media" src="http://lorempixel.com/output/city-h-c-350-450-6.jpg" alt="">
                                </a>
                            </div>
                            <div class="video-text">
                                <h2>Black Angel</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <!--
                                                        <div class="tag-nest">
                                                            <i>angel</i><i>dark</i><i>mistic</i>
                                                        </div>
                            -->
                            <div class="photo-category-bg">
                                <h3>游记</h3>
                                <a class="link-media pull-right" href="#">
                                    <span class="fontawesome-edit"></span>
                                </a>
                                <div class="triangle-white"></div>
                                <div class="triangle-photo-right"></div>
                            </div>

                        </div>
                    </div>

                    <!-- END OF AUDIO -->
                    <!-- PHOTO SET -->
                    <div class="col-md-4">
                        <div class="well-media">


                            <div class="vendor">
                                <div data-ride="carousel" class="carousel slide" id="carousel-dua">
                                    <ol class="carousel-indicators">
                                        <li class="" data-slide-to="0" data-target="#carousel-dua"></li>
                                        <li data-slide-to="1" data-target="#carousel-dua" class="active"></li>
                                        <li data-slide-to="2" data-target="#carousel-dua" class=""></li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="item">
                                            <a href="#">
                                                <img class="img-responsive-media" alt="First slide" data-src="holder.js/900x500/auto/#777:#555/text:First slide" src="http://placehold.it/350x250">
                                            </a>
                                        </div>
                                        <div class="item active">
                                            <a href="#">
                                                <img class="img-responsive-media" alt="Second slide" data-src="holder.js/900x500/auto/#666:#444/text:Second slide" src="http://placehold.it/350x250">
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <img class="img-responsive-media" alt="Third slide" data-src="holder.js/900x500/auto/#555:#333/text:Third slide" src="http://placehold.it/350x250">
                                            </a>
                                        </div>
                                    </div>
                                    <a data-slide="prev" href="#carousel-dua" class="left carousel-control">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a data-slide="next" href="#carousel-dua" class="right carousel-control">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                </div>

                            </div>


                            <div class="video-text">
                                <h2>Holyday</h2>
                                <p>It ws may last summer holyday</p>
                            </div>
                            <!--
                                                        <div class="tag-nest">
                                                            <i>angel</i><i>dark</i><i>mistic</i>
                                                        </div>
                            -->
                            <div class="album-category-bg">
                                <h3>游记</h3>
                                <a class="link-media pull-right" href="#">
                                    <span class="fontawesome-edit"></span>
                                </a>
                                <div class="triangle-white"></div>
                                <div class="triangle-album-right"></div>
                            </div>

                        </div>
                    </div>
                    <!--     END OF PHOTO SET -->
                    <!-- AUDIO -->
                    <div class="col-md-4">
                        <div class="well-media">

                            <div class="vendor">

                                <a class="fancybox" rel="group" href="#">
                                    <img class="img-responsive-media" src="http://lorempixel.com/output/city-h-c-350-450-6.jpg" alt="">
                                </a>
                            </div>
                            <div class="video-text">
                                <h2>Black Angel</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <!--
                                                        <div class="tag-nest">
                                                            <i>angel</i><i>dark</i><i>mistic</i>
                                                        </div>
                            -->
                            <div class="photo-category-bg">
                                <h3>游记</h3>
                                <a class="link-media pull-right" href="#">
                                    <span class="fontawesome-edit"></span>
                                </a>
                                <div class="triangle-white"></div>
                                <div class="triangle-photo-right"></div>
                            </div>

                        </div>
                    </div>

                    <!-- END OF AUDIO -->

                </div>
            </div>




            <!-- /END OF CONTENT -->
            <!-- FOOTER -->
            <div class="footer-space"></div>
            <div id="footer">
                <div class="devider-footer-left"></div>
                <div class="time">
                    <p id="spanDate">
                    <p id="clock">
                </div>
                <div class="copyright">
                    Make with Love
                    <span class="entypo-heart"></span>Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> All Rights Reserved
                </div>
                <div class="devider-footer"></div>

            </div>
            <!-- / END OF FOOTER -->


        </div>
    </div>
    <!--  END OF PAPER WRAP -->
    <!-- RIGHT SLIDER CONTENT -->
    <div class="sb-slidebar sb-right">
        <div class="right-wrapper">
            <div class="row">
                <h3>
                    <span><i class="entypo-gauge"></i>&nbsp;&nbsp;MAIN WIDGET</span>
                </h3>
                <div class="col-sm-12">

                    <div class="widget-knob">
                        <span class="chart" style="position:relative" data-percent="86">
                            <span class="percent"></span>
                        </span>
                    </div>
                    <div class="widget-def">
                        <b>Distance traveled</b>
                        <br>
                        <i>86% to the check point</i>
                    </div>

                    <div class="widget-knob">
                        <span class="speed-car" style="position:relative" data-percent="60">
                            <span class="percent2"></span>
                        </span>
                    </div>
                    <div class="widget-def">
                        <b>The average speed</b>
                        <br>
                        <i>30KM/h avarage speed</i>
                    </div>


                    <div class="widget-knob">
                        <span class="overall" style="position:relative" data-percent="25">
                            <span class="percent3"></span>
                        </span>
                    </div>
                    <div class="widget-def">
                        <b>Overall result</b>
                        <br>
                        <i>30KM/h avarage Result</i>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top:0;" class="right-wrapper">
            <div class="row">
                <h3>
                    <span><i class="entypo-chat"></i>&nbsp;&nbsp;CHAT</span>
                </h3>
                <div class="col-sm-12">
                    <span class="label label-warning label-chat">Online</span>
                    <ul class="chat">
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-circle" src="http://api.randomuser.me/portraits/thumb/men/20.jpg">
                                </span><b>Dave Junior</b>
                                <br><i>Last seen : 08:00 PM</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-circle" src="http://api.randomuser.me/portraits/thumb/men/21.jpg">
                                </span><b>Kenneth Lucas</b>
                                <br><i>Last seen : 07:21 PM</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-circle" src="http://api.randomuser.me/portraits/thumb/men/22.jpg">
                                </span><b>Heidi Perez</b>
                                <br><i>Last seen : 05:43 PM</i>
                            </a>
                        </li>


                    </ul>

                    <span class="label label-chat">Offline</span>
                    <ul class="chat">
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/men/23.jpg">
                                </span><b>Dave Junior</b>
                                <br><i>Last seen : 08:00 PM</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/women/24.jpg">
                                </span><b>Kenneth Lucas</b>
                                <br><i>Last seen : 07:21 PM</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/men/25.jpg">
                                </span><b>Heidi Perez</b>
                                <br><i>Last seen : 05:43 PM</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/women/25.jpg">
                                </span><b>Kenneth Lucas</b>
                                <br><i>Last seen : 07:21 PM</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/men/26.jpg">
                                </span><b>Heidi Perez</b>
                                <br><i>Last seen : 05:43 PM</i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- END OF RIGHT SLIDER CONTENT-->
    <!-- MAIN EFFECT -->
    <script type="text/javascript" src="~/Content/profile/js/preloader.js"></script>
    <script type="text/javascript" src="~/Content/profile/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/profile/js/app.js"></script>
    <script type="text/javascript" src="~/Content/profile/js/load.js"></script>
    <script type="text/javascript" src="~/Content/profile/js/main.js"></script>
    <script src="~/Content/profile/js/flatvideo/jquery.fitvids.js"></script>


    <script>
    // Basic FitVids Test
    $(".well-media").fitVids();
    $(".vendor").fitVids();
    // Custom selector and No-Double-Wrapping Prevention Test
    $(".well-media").fitVids({
        customSelector: "iframe[src^='http://socialcam.com']"
    });
    </script>

</body>

</html>
