@model SceneView.Controllers.ProfileController.ProfileData

@{
    Layout = "~/Views/profile/_Layout.cshtml";
}

    <ol class="breadcrumb hidden-xs">
        <li><a href="/profile">Home</a></li>
        <li><a href="/profile/note">Note</a></li>
    </ol>

    <h4 class="page-title b-0">我的游记</h4>

    <div class="listview list-container">
        <header class="listview-header media">
            <ul class="list-inline list-mass-actions pull-left">
                <li>
                    <a data-toggle="modal" href="#compose-message" title="Add" class="tooltips">
                        <i class="sa-list-add"></i>
                    </a>
                </li>
                <li>
                    <a href="" title="Refresh" class="tooltips">
                        <i class="sa-list-refresh"></i>
                    </a>
                </li>
            </ul>

            @* 搜索 暂未实现 *@
            <input class="input-sm col-md-4 pull-right message-search" type="text" placeholder="Search....">

            <div class="clearfix"></div>
        </header>

        @foreach (var n in Model.userData.note)
        {
            <div class="media">
                <input type="checkbox" class="pull-left list-check" value="">
                <div class="media-body">
                    <a href="/profile/detail?ni=@n.noteID" class="t-overflow"><p>@n.noteContent</p></a>
                    <div class="clearfix"></div>
                    <div class="attrs">Date Created: @n.noteTime</div>
                    <div class="block attrs">Likes: @n.noteLike</div>

                    <div class="list-options">
                        @*<button class="btn btn-sm">View</button>*@
                        <a href="">查看</a>
                    </div>
                </div>
            </div>
        }

    </div>