@model SceneView.Controllers.ProfileController.ProfileData

@{

    Layout = "~/Views/Profile/_Layout.cshtml";
}

<ol class="breadcrumb hidden-xs">
    <li><a href="/profile">Home</a></li>
    <li><a href="/profile/timeline">TimeLine</a></li>
</ol>
<h4 class="page-title">时间线</h4>

