@model SceneView.Controllers.ProfileController.ProfileData

@{

    Layout = "~/Views/Profile/_Layout.cshtml";
}


<ol class="breadcrumb hidden-xs">
    <li><a href="/profile">Home</a></li>
    <li><a href="/profile/timeline">TimeLine</a></li>
</ol>
<h4 class="page-title">时间线</h4>

<div class="block-area" style="width:200px">
    <div class="personInfo">
        <div class="container">
            <div id="page" class="site">
                <div id="content" class="site-content">
                    <div class="content-block history">
                        <div class="content-wrap small-wrap vert-spaced lined">
                            <div class="columns">
                                <div class="col third middled copy-col onScrollEnter">
                                    <h3 class="chapter-headline">2018.1</h3>
                                    <p class="chapter-copy s-text top-spaced">1919事件 </p>
                                </div>
                                <!-- .col -->
                                <div class="col two-thirds middled ui-col rel onScrollEnter">
                                    <div class="chapter-image img imgfill" style="background-image:url('images/T.jpg');"></div>
                                    <div class="timeline-container circle-timelines">
                                        <div class="fill-parent ui-timelines">
                                            <svg version="1.1" id="Layer_1" x="0px" y="0px"
                                                 viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
                                            <circle fill="none" stroke="#000000" stroke-miterlimit="10" cx="300" cy="300" r="300" />



                                  </svg>
                                            <svg version="1.1" id="Layer_1" x="0px" y="0px"
                                                 viewBox="0 0 600 600" style="enable-background:new 0 0 600 600;" xml:space="preserve">
                                            <circle fill="none" stroke="#000000" stroke-miterlimit="10" cx="300" cy="300" r="300" />



                                  </svg>
                                        </div>
                                        <!-- .ui-timelines -->
                                        <div class="ui-chapters fill-parent">
                                            <div class="ui-chapter current-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2018</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1940</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1942</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1962</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1963</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1965</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1977</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1992</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">1997</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2002</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2006</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2007</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2009</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2012</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2013</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2014</span> </div>
                                            <div class="ui-chapter"> <span class="chapter-point"></span> <span class="chapter-label">2015</span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type='text/javascript'>

            var _history_data = [
                { "title": "2018.1", "copy": "您曾在：#景区 留下回忆,宽窄巷子是一张有着悠久历史的上海名片，在这里你能触摸到历史留下的痕迹，也能体味到上海最原滋原味的休闲生活方式。走进宽窄巷子，就走进了最上海、最古老、最时尚的老上海名片、新都市会客厅。", "img": { "src": "images\/31.jpg" } },
                { "title": "2018.2", "copy": "您曾在：#景区 留下回忆，宽窄巷子是一张有着悠久历史的上海名片，在这里你能触摸到历史留下的痕迹，也能体味到上海最原滋原味的休闲生活方式。走进宽窄巷子，就走进了最上海、最古老、最时尚的老上海名片、新都市会客厅。", "img": { "src": "images\/32.jpg" } },
                { "title": "2018.3", "copy": "您曾在：#景区 留下回忆", "img": { "src": "images\/33.jpg" } },
                { "title": "2018.4", "copy": "您曾在：#景区 留下回忆", "img": { "src": "images\/34.jpg" } },
                { "title": "2018.5", "copy": "您曾在：#景区 留下回忆，宽窄巷子是一张有着悠久历史的上海名片，在这里你能触摸到历史留下的痕迹，也能体味到上海最原滋原味的休闲生活方式。走进宽窄巷子，就走进了最上海、最古老、最时尚的老上海名片、新都市会客厅。", "img": { "src": "images\/35.jpg" } },
                { "title": "2018.6", "copy": "您曾在：#景区 留下回忆", "img": { "src": "images\/77.jpg" } },
                { "title": "1940", "copy": "1940事件", "img": { "src": "images\/8.jpg" } },
                { "title": "1992", "copy": "1992事件", "img": { "src": "images\/2.jpg" } },
                { "title": "1997", "copy": "1997事件", "img": { "src": "images\/3.jpg" } },
                { "title": "2002", "copy": "2002事件", "img": { "src": "images\/3.jpg" } },
                { "title": "2006", "copy": "2006事件", "img": { "src": "images\/7.jpg" } },
                { "title": "2007", "copy": "2007事件", "img": { "src": "images\/1.jpg" } },
                { "title": "2009", "copy": "2009事件", "img": { "src": "images\/4.jpg" } },
                { "title": "2012", "copy": "2012事件", "img": { "src": "images\/5.jpg" } },
                { "title": "2018", "copy": "2013事件", "img": { "src": "images\/15.jpg" } },
                { "title": "2014", "copy": "2018事件", "img": { "src": "images\/2.jpg" } },
                { "title": "2015", "copy": "2019事件", "img": { "src": "images\/7.jpg" } }];
                                      //！这里注意一下！这里展示的照片的每批的数量是一定的，17个，景区介绍部分格式“您曾在： #景区名字 留下回忆，#景区介绍，90-100字
                              /* ]]> */
        </script>
        <script type='text/javascript' src='~/Scripts/profile/track-js/page_about.js'></script>

    </div>
</div>
