/*初始化样式*/
body,h1,h2,h3,h4,h5,ul,li,a,div,p,span,table,tr,td,img{margin: 0;padding: 0;}
ul{padding: 0;margin: 0;}
li{list-style: none;}
a{text-decoration: none!important;}
img{outline: none;border: 0;}
body{font-family: "Microsoft Yahei";}
/*清除浮动*/
.commentclearfix:before{clear: !important;}
.commentclearfix:after{content: " "!important;display: table!important;}
.commentclearfix:after{clear: both!important;}
.commentclearfix{zoom: 1!important;}
/*浮动*/
.pull-right{float: right !important;}
.pull-left{float: left !important;}
/*----------------------------------------------------------------------------------------------------------*/
.commentcontent{float: left!important;}
.flex-text-wrap,pre{margin: 0 !important;}
.commentAll{width: 800px!important;padding: 20px!important;border: 1px solid #ededed!important;margin: 20px auto!important;background-color:#f1f0ed !important;}
.plBtn{width: 75px!important;height: 36px!important;line-height: 36px!important;background-color: #339b53!important;text-align: center!important;display: block;float: right;color: #FFFFFF;font-size: 12px;border-radius: 6px;margin-right: 2px;margin-top: 20px;}
.plBtn:hover{background-color: #2f904d!important;}

/*----------评论区域 begin----------*/
.comment-show{margin-top: 20px!important;}
.comment-show-con {
    width: 100%!important;
    border-top: 1px solid #EDEDED!important;
    padding: 10px 0!important;
}
.comment-show-con-img {
    width: 48px!important;
    height: 48px!important;
    overflow: hidden!important;
    margin-top: 5px!important;
}
.comment-show-con-list {
    width: 85%!important;
    margin-left: 3%!important;
}
.pl-text {
    width: 100%!important;
    margin-top: 7px!important;
    word-wrap: break-word!important;
    overflow: hidden!important;
}
.date-dz {
    width: 100%!important;
    float: left!important;
}
.hf-list-con {
    float: left!important;
    width: 100%!important;
    background-color: #eaeaec!important;
    margin-top: 7px!important;
}
.comment-size-name {
    font-size: 12px!important;
    color: #339b53!important;
}
.my-pl-con {
    font-size: 12px!important;
    color: #8b8b8b!important;
    width: 100%!important;
}
.date-dz-left {
    font-size: 12px!important;
    color: #8b8b8b!important;
    display: block!important;
    padding-top: 18px!important;
}
.comment-time, .comment-pl-block {
    padding-top: 7px!important;
}
.comment-pl-block {
    margin-top: 0!important;
}
.date-dz-right {
    display: block!important;
    padding-top: 6px!important;
    padding-right: 18px!important;
    position: relative!important;
    overflow: hidden!important;
}
.removeBlock {
    float: left!important;
    font-size: 12px!important;
    color: #8b8b8b!important;
    margin-right: 24px!important;
    display: block!important;
    opacity: 0!important;
}
.hf-con-block {
    display: block!important;
}
.date-dz-pl, .date-dz-line, .date-dz-z {
    font-size: 12px!important;
    color: #8b8b8b!important;
}
.date-dz-line {
    display: block!important;
    padding: 0 20px!important;
}
.date-dz-z-click-red {
    width: 17px!important;
    height: 17px!important;
    display: block!important;
    float: left!important;
    background-image: url(../../image/home/icon-all_01.png);
    background-repeat: no-repeat!important;
    background-position: -6px -198px!important;
    margin-right: 5px!important;
}
.z-num {
    font-style: normal!important;
}
.date-dz-z-click {
    color: #b83b44!important;
}
.red {
    background-position: -6px -119px !important;
}
.hf-pl {
    width: 70px!important;
    height: 30px!important;
    line-height: 30px!important;
    background-color: #339b53!important;
    text-align: center!important;
    display: block!important;
    float: right!important;
    color: #FFFFFF!important;
    font-size: 12px!important;
    border-radius: 6px!important;
    margin-right: 2px!important;
    margin-top: 20px!important;
}
.hf-con{width: 100%!important;margin-top: 24px!important;}
.hf-input{font-size: 12px!important;}
.all-pl-con {
    width: 96%!important;
    padding: 2% 0!important;
    float: left!important;
    margin: 0 2%!important;
}
.atName {
    font-size: 12px!important;
    color: #339b53!important;
}
.hfpl-text{margin-top: 0!important;}
.date-dz:hover .removeBlock {
    opacity: 1!important;
}
.hf-list-con .all-pl-con {
    border-top: 1px solid #d9d9d9!important;
    padding-bottom: 12px!important;
}
.hf-list-con .all-pl-con:first-child {
    border-top: 0!important;
}



/*----------评论区域 end----------*/























