@model SceneView.Models.strategy
@{
    Layout = null;
    if (Session["user"] == null)
    {
        HttpContext.Current.Response.Redirect("/login");
    }
}

<!DOCTYPE html>
<html>

<head>
    <title>游记（最终展示</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Your Trip Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="~/Content/home/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/home/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src="~/Scripts/scene/jquery-1.11.1.min.js"></script>
    <!-- //js -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Scripts/scene/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/scene/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
</head>

<body>
    <!-- 这段是原来的banner -->
    <!-- banner -->
    <!-- <div class="banner">
        <div class="container">
            <div class="banner_top">
                <div class="banner_top_left">
                    <p>I am travelling to <span>Alaska Mountains.</span></p>
                </div>
                <div class="banner_top_right">
                    <form>
                        <input type="text" value="Search Here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}" required="">
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <nav class="navbar navbar-default">
                Brand and toggle get grouped for better mobile display
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>

                Collect the nav links, forms, and other content for toggling
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav cl-effect-14">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="features.html">Features</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                        <li><a href="codes.html">Pages</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#contact" class="scroll">Contact Us</a></li>
                    </ul>
                </div>/.navbar-collapse

            </nav>
            <div class="logo">
                <a href="index.html">Your Trip<span>Alaska Mountains</span></a>
            </div>
            <div class="dummy_text">
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit, sed quia non numquam eius modi.</p>
            </div>
            <div class="social_icons">
                <ul>
                    <li><a href="#" class="p"></a></li>
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="g"></a></li>
                    <li><a href="#" class="instagram"></a></li>
                </ul>
            </div>
        </div>
    </div> -->
    <!-- //banner -->
    <!-- 这段是原来的banner -->
    <!-- made by may 2018/7/20 -->
    <!-- 这里是banner -->
    <div class="banner1">
        <div class="container">
            <div class="banner_top">
                <div class="banner_top_left">

                </div>
                <div class="banner_top_right">
                    <form>
                        <input type="text" value="目的地/景点" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}"
                               required="">
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav cl-effect-14">
                        <li>
                            <a href="/Home">首页</a>
                        </li>
                        <!-- <li>
                            <a href="about.html" class="active">景点</a>
                        </li> -->

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                景点 <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="~/ScenicHome/index?dn=黄浦区" style="padding-top:10px;">黄浦区</a></li>
                                <li><a href="~/ScenicHome/index?dn=静安区" style="padding-top:10px;">静安区</a></li>
                                <li><a href="~/ScenicHome/index?dn=徐汇区" style="padding-top:10px;">徐汇区</a></li>




                                <li><a href="/Scene/Blog" style="padding-top:10px;">查看更多</a></li>

                            </ul>
                        </li>


                        <li>
                            <a href="/Scene/Blog">故事</a>
                        </li>
                        <li>
                            <a href="/Profile">个人页面</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </nav>
            <div class="logo">

            </div>
            <div class="dummy_text">

            </div>

        </div>
    </div>
    <!-- 这里是banner -->
    <!-- 这里是索引项 -->
    <!--
        <div class="container mainIndex">
            <a href="" title="首页">首页</a>>
            <a href="" title="景点">景点</a>>
            <a href="" title="海欣专栏">海欣专栏</a>>
            <strong>江北的流浪诗</strong>
        </div>
    -->
    <!-- 这里是索引项 -->
    <!-- 这里是aritcle主体 -->
    <!-- <div class="article">
        <div class="container">
            <div class="title">
                <h1 class="name">江北的流浪诗</h1>
                <div class="info">
                    <div class="author">
                        By
                        <a href="">海欣</a>
                        <span>2018-7-20</span>
                        <div class="more">more test</div>
                    </div>
                    <div class="more">
                        <span>
                            <a href="">海欣专栏</a>出品 |
                        </span>
                        <span>阅读量
                            <strong>233</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="main1">
        <h1>江北的流浪诗</h1>
        <div class="ac-view">
            <div class="art-writen">by
                <a href="">cathy</a>
                <span>8021-7-20</span>
            </div>
        </div>
        <div class="art-declare">
            <span><a href="">小u出品</a>|</span>
            <span>reader: <strong>233</strong></span>
        </div>
        <br>
        <div class="clear"></div>
    </div> -->
    <!-- 这里是article主体 -->
    <!-- made by may 2018/7/20 -->
    <!-- single -->
    <div class="single">
        <div class="container">
            <div class="artical">
                <div class="topic-box">
                    <div class="topic-image">
                        <img src="@Model.image.First().imageAddress">
                        <div class="topic-mask"></div>
                        <div class="detail-title clearfix">
                            <h1>要想感受上海的慢生活，来黄渡理工草场大学！</h1>
                        </div>
                    </div>



                </div>
                <!--                <div class="clear"></div>-->
                <div class="art-trips-container">

                    @Model.content

                </div>

                <!-- single -->
                <!-- here stars scrolling icon -->
                <script type="text/javascript">
                    $(document).ready(function () {
                        /*
                            var defaults = {
                            containerID: 'toTop', // fading element id
                            containerHoverID: 'toTopHover', // fading element hover id
                            scrollSpeed: 1200,
                            easingType: 'linear'
                            };
                        */

                        $().UItoTop({ easingType: 'easeOutQuart' });

                    });
                </script>
                <script type="text/javascript">
                    $(function () {
                        $("#tour-like").click(function () {
                            var f = this;
                            if ($("#tour-like").hasClass("tour-like")) {
                                $("#tour-like").removeClass("tour-like");
                                $(this).addClass("liked");
                                 x = $("#tour-like-num").text();
                                 x = parseInt(x);
                                 x = x + 1;
                                 $("#tour-like-num").text(x);

                            } else {
                                $("#tour-like").removeClass("liked");
                                $(this).addClass("tour-like");
                                x = $("#tour-like-num").text();
                                 x = parseInt(x);
                                 x = x - 1;
                                 $("#tour-like-num").text(x);
                            }//此处状态更改向数据库发送消息，更改游记like数目

                        })
                    })
                    $(function () {
                        $("#tour-collect").click(function () {
                            var f = this;
                            if ($("#tour-collect").hasClass("tour-collect")) {
                                $("#tour-collect").removeClass("tour-collect");
                                $(this).addClass("collected");
                            } else {
                                $("#tour-collect").removeClass("collected");
                                $(this).addClass("tour-collect");
                            }

                        })
                    })
                </script>

                <script type="text/javascript">

                         var curIndex = 0,  //当前index
                                  imgLen = $(".relv-content-list li").length;  //图片总数
                                // 定时器自动变换2.5秒每次
                          var autoChange = setInterval(function(){
                              if(curIndex <  imgLen-1){
                                  curIndex ++;
                              }else{
                                  curIndex = 0;
                              }
                              //调用变换处理函数
                              changeTo(curIndex);
                          },2500);


                         //对左上角按钮index进行事件绑定处理等
                         $(".cont-navi").find("span").each(function(item){
                             $(this).hover(function(){
                                 clearInterval(autoChange);
                                 changeTo(item);
                                 curIndex = item;
                              },function(){
                                 autoChangeAgain();
                             });
                         });

                         //清除定时器时候的重置定时器--封装
                         function autoChangeAgain(){
                                 autoChange = setInterval(function(){
                                 if(curIndex < imgLen-1){
                                      curIndex ++;
                                 }else{
                                     curIndex = 0;
                                 }
                             //调用变换处理函数
                                 changeTo(curIndex);
                             },2500);
                             }

                         function changeTo(num){
                             var goLeft = num *  400;
                            $(".relv-content-list").find("li").removeClass("on-top").eq(num).addClass("on-top");
                             $(".cont-navi").find("span").removeClass("active").eq(num).addClass("active");
                         }
                </script>

                <!-- //here ends scrolling icon -->
                <!-- for bootstrap working -->
                <script src="~/js/bootstrap.js"></script>
                <!-- //for bootstrap working -->
</body>

</html>